binho-host-adapter==0.1.6
board==1.0
colorzero==2.0
gpiozero==2.0.1
lgpio==0.2.2.0
pyftdi==0.57.1
pyserial==3.5
pyusb==1.3.1
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
smbus2==0.5.0
spidev==3.8
sysv-ipc==1.1.0
typing_extensions==4.15.0